---
layout: base.liquid
---

<article>
    <div class="post-header">
        <div class="post-title">
            <h1 class="post-header">{{ title }}</h1>
            <h2 id="subtitle" class="faded-normal">{{ subtitle }}</h2>
        </div>
<div id="extra-padding-header-stamp">        
    <div class="header-stamp">
        <img class="glow-shadow" src="../images/author_avatar.png" alt="profile picture" width="54px" height="54px">
        <div class="small-text-column">
            <h3 id="author">{{ author | upcase }}</h3>
            <h3 id="date" class="faded-normal">{{ page.date | date: "%d %^b, %Y" }}</h3>
        </div>
</div>
</div>
</div>
    <div class="glow-shadow" id="content">{{ content }}</div>
</article>
